
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glowing Corner Hover Effects</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
      <div class="card" style="--clr: #0f0;"></div>
  </div>
  <script>
    const cards = document.querySelectorAll('.card')
    cards.forEach(card => {
      // 鼠标移动事件
      card.onmousemove = function(e) {
        const x = e.pageX - card.offsetLeft,
              y = e.pageY - card.offsetTop

        card.style.setProperty('--x', x + 'px')      
        card.style.setProperty('--y', y + 'px')      
      }

      // 触摸移动事件
      card.ontouchmove = function(e) {
        e.preventDefault() // 阻止页面滚动
        const touch = e.touches[0]
        const x = touch.pageX - card.offsetLeft
        const y = touch.pageY - card.offsetTop
        
        card.style.setProperty('--x', x + 'px')      
        card.style.setProperty('--y', y + 'px')      
      }
    })
  </script>
</body>
</html>