<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glowy Hover Effect</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='Welcome/Welcome.css') }}">
</head>
<body>
<main class="main flow">
  <h1 class="main__heading">Register</h1>
  <div class="main__cards cards">
    <div class="cards__inner">
      
      <!-- Register Card -->
      <div class="cards__card card">
        <h2 class="card__heading">Register your account</h2>
        <p class="card__description">Create a new account to get started.</p>
        
        <ul role="list" class="card__bullets flow">
          <li>Easy registration</li>
          <li>Access customized features</li>
        </ul>
        
        <a href="/Back" class="card__cta cta">Back</a> 
        
      </div>
      
    </div>
    <div class="overlay cards__inner"></div>
  </div>
</main>

<script src="{{ url_for('static', filename='Welcome/Welcome.js') }}"></script>
</body>
</html>
