* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap ;
}

.container .card {
  position: relative;
  width: 70%; /* 宽度占网页的70% */
  max-width: 800px; /* 设置最大宽度，防止过大 */
  height: auto; /* 高度自适应内容 */
  background-color: rgba(45, 45, 45, 1);
  border-radius: 20px;
  overflow: hidden;
}

.container .card::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--clr), transparent, transparent);
  width: 700px;
  height: 700px;
  opacity: 0;
  transition: .5s, top 0, left：0;
}

.container .card:hover::before {
  opacity: 1;
}

.container .card::after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 18px;
  background-color: rgba(45, 45, 45, .75);
}