<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/Home/Home.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Sheet</span>
    </div>
    <ul class="nav-links">
      <!-- Dashboard -->
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Dashboard</a></li>
        </ul>
      </li>

      <!-- Add -->
      <li>
        <a href="#">
          <i class='bx bx-plus'></i>
          <span class="link_name">Add</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Add</a></li>
        </ul>
      </li>

      <!-- Modify -->
      <li>
        <a href="#">
          <i class='bx bx-edit-alt'></i>
          <span class="link_name">Modify</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Modify</a></li>
        </ul>
      </li>

      <!-- Delete -->
      <li>
        <a href="#">
          <i class='bx bx-trash'></i>
          <span class="link_name">Delete</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Delete</a></li>
        </ul>
      </li>

      <!-- Download -->
      <li>
        <a href="#">
          <i class='bx bx-download'></i>
          <span class="link_name">Download</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Download</a></li>
        </ul>
      </li>

      <!-- 底部的个人信息和退出按钮 -->
      <li>
        <div class="profile-details">
          <div class="profile-content">
            <img src="image/profile.jpg" alt="profile">
          </div>
          <div class="name-job">
            <div class="profile_name">用户名</div>
            <div class="job">职位</div>
          </div>
          <a href="/logout">
            <i class='bx bx-log-out'></i>
          </a>
        </div>
      </li>
    </ul>
  </div>

  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu'></i>
      <span class="text"></span>
    </div>
  </section>

  <script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
      arrow[i].addEventListener("click", (e)=>{
        let arrowParent = e.target.parentElement.parentElement;
        arrowParent.classList.toggle("showMenu");
      });
    }

    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
      sidebar.classList.toggle("close");
    });
  </script>
</body>
</html>
