<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Enter/Enter.css') }}">
</head>
<body>
  <div class="enter-container">
    <h1>Welcome, {{ username }}!</h1>
  </div>
  <script>
    // 3 秒后跳转到首页
        setTimeout(function() {
        window.location.href = "{{ url_for('home') }}";
        }, 3000);
  </script>
</body>
</html>